jaxpr/tmp/*
jaxpr/ref/*
jaxpr/*.nsys-rep
jaxpr/output.log
jaxpr/*.so
jaxpr/cpp/build
jaxpr/_deprecated/*
jaxpr/__pycache__/*
jaxpr/comm_data/_deprecated/*
jaxpr/comm_data/raw_data/*
jaxpr/slurm/*
plot/*
build/*
external/*
nsys/*
tmp/*
tmp_res/*
cluster_spec.json
